# Node.js dependencies
node_modules/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# SQL databases
*.sql
*.sqlite
*.sqlite3
!/db.sqlite3

# package managers (bun. uv)
bun.lockb
uv.lock
/src

# Environment files
.env
.venv

# Cache directories
/.cache

# Build artifacts
/build/

# macOS system files
.DS_Store

# Others
filtered_worldcities.csv
