Django
djangorestframework
djangorestframework-simplejwt
PyJWT
# pytz                          # allows accurate and cross platform timezone calculations
# pytzwhere
# python-dotenv                 # Reads key-value pairs from a .env file and sets them as env variables
# psycopg2-binary

requests
requests_cache
retry_requests
openmeteo_requests
pandas
